.whiteboard-container{

    max-width: 35rem;
    background: #3C3C3C;
    text-align: center;
    margin: auto;
    margin-top: 1rem;
    border: 2px dotted #1F2020;
    box-shadow: 0px 0px 2px 2px #1F2020;
    border-radius: 5px;
    position: relative;

}

#input-form{
    
    font-weight: 1000;
    font-size: larger;
    font-style: italic;
    color: white;
    border: 2px solid lightseagreen;
    box-shadow: 0px 0px 2px 2px #1F2020;
    border-radius: 5px;
    text-align: start;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 30px;
    transition: all 0.4s ease-in-out;
    transition-delay: 0.5s;
}

.whiteboard-container .app-title {

    font-style: italic;
    font-weight: bold;
    max-width: max-content;
    min-height: 2rem;
    text-align: center;
    margin: .1rem auto;
    padding: 2px 2px 0px;
    box-shadow: 1px 1px 1px 2px #1F2020 inset;
    border-radius: 3px;
    color: #282828;
    background-color: lightgrey;
    overflow: hidden;

}
.whiteboard-container .app-title .contact {
    font-size: .5rem;
   
    margin: .2rem auto;
    color: lightcoral;
    padding-bottom: 1px;
    background: #3c3c3c;
    max-width: 4rem;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 1px 2px 1px 1px #1F2020;
}

.whiteboard-container .notification {
    
    color: lightblue;
    font-style: italic;
    text-align: center;
    padding: 15px;
    border-top: 2px dotted #1F2020;
    box-shadow: 0px 2px #1F2020 inset;
    min-height: 2rem;
   

}
.whiteboard-container .todo-list {

    box-shadow: 0px 0px 2px 2px #1F2020 inset;
    position: relative;
     max-height: 250px;
     overflow-y: scroll;
     

}
.whiteboard-container .todo-list ul{

    background: #374151;
    border: 2px solid lightseagreen;
    box-shadow: 0px 0px 2px 2px #1F2020;
    border-radius: 5px;
    margin: 0px 30px;
    text-align: start;
   overflow: hidden;
   min-height: 250px;

}
.whiteboard-container .todo-list ul .todo-items-row{
    
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 40px 10px 10px;
    color: lightseagreen;
    font-weight: bolder;
    font-style: italic;
    box-sizing: border-box;
    
   
}

.whiteboard-container .todo-list ul .todo-items-row .todo-item-left {
    display: flex;
    gap: 15px;
    align-items: center;
}
.whiteboard-container .todo-list ul li .absolute-no{

    color: lightseagreen;
    font-weight: bolder;
    position: absolute;
    left: 10px;
    box-shadow: 0.5px 2px 1px 0.5px #1F2020;
    border-radius: 3px;

}

.whiteboard-container .todo-list ul .info-show-text{

   color: lightseagreen;
   font-weight: bold;
   font-style: oblique;
   display: flex;
   justify-content: center;
   margin: 100px;
   
}

.whiteboard-container .todo-list ul .todo-items-row .absolute-remove {

    position: absolute;
    background: #3C3C3C;
    font-size: 15px;
    right: 5px;
    
    color: brown;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px black;
    height: .6rem;
    padding-bottom: .8rem;

}
.whiteboard-container .todo-list ul .todo-items-row .absolute-remove:hover {
    
    color: red;
}