.whiteboard-container{

    max-width: 35rem;
    background: #3C3C3C;
    text-align: center;
    margin: auto;
    margin-top: 1rem;
    border: 2px dotted #1F2020;
    box-shadow: 0px 0px 2px 2px #1F2020;
    border-radius: 5px;
    position: relative;

}

#input-form{

    max-width: 500px;
    font-weight: 1000;
    font-size: larger;
    font-style: italic;
    color: white;
    border: 2px solid lightseagreen;
    box-shadow: 0px 0px 2px 2px #1F2020;
    border-radius: 5px;
    text-align: start;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 30px;
    transition: all 0.4s ease-in-out;
    transition-delay: 0.5s;
    display: flex;
    flex-wrap: wrap;
}

.whiteboard-container .app-title {

    font-style: italic;
    font-weight: bold;
    max-width: max-content;
    min-height: 2rem;
    text-align: center;
    margin: .1rem auto;
    padding: 2px 2px 0px;
    box-shadow: 1px 1px 1px 2px #1F2020 inset;
    border-radius: 3px;
    color: #282828;
    background-color: lightgrey;
    overflow: hidden;

}
.whiteboard-container .app-title .contact {

    font-size: .5rem;
    margin: .2rem auto;
    color: lightcoral;
    padding-bottom: 1px;
    background: #3c3c3c;
    max-width: 4rem;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 1px 2px 1px 1px #1F2020;
}

.whiteboard-container .notification {
    
    color: lightblue;
    font-style: italic;
    text-align: center;
    padding: 15px;
    border-top: 2px dotted #1F2020;
    box-shadow: 0px 2px #1F2020 inset;
    min-height: 2rem;

}
.whiteboard-container .todo-list {

    box-shadow: 0px 0px 2px 2px #1F2020 inset;
    position: relative;
    max-height: 300px;
    overflow-y: scroll;

}
.whiteboard-container .todo-list ul{

    background: #374151;
    border: 2px solid lightseagreen;
    box-shadow: 0px 0px 2px 2px #1F2020;
    border-radius: 5px;
    margin: 0px 30px;
    text-align: start;
    overflow: hidden;
    min-height: 300px;

}
.whiteboard-container .todo-list ul .todo-items-row{
    
    display: block;
    max-width: 500px;
    padding: 10px;
    margin: 10px 0;
    color: lightseagreen;
    font-weight: bolder;
    font-style: italic;
    text-align: start;    
    
}

.whiteboard-container .todo-list ul .todo-items-row:hover
{
    .absolute-no{
        font-size: 25px;
        box-shadow: none;
        
    }
    box-shadow: 1px 1px 3px 2px;
    border-radius: 5px;
}

.whiteboard-container 
.todo-list ul 
.todo-items-row 
.todo-item-left {
    height: 100%;
    display: flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;
}

.whiteboard-container .todo-list ul li .absolute-no{

    color: lightseagreen;
    font-weight: bolder;
    position: absolute;
    left: 10px;
    box-shadow: 0.5px 2px 1px 0.5px #1F2020;
    border-radius: 3px;
}

.whiteboard-container .todo-list ul .info-show-text{

    color: lightseagreen;
    font-style: oblique;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 100px;
}

.whiteboard-container 
.todo-list ul .todo-items-row 
.remove-btn-container {
    
    position: absolute;
    right: 5px;
    max-width: 1.5rem;
    height: 1rem;
    display: flex;
    align-items: center;
    padding: 5px 2px;
    margin-top: -18px;
    border: 2px solid #3c3c3c;
    border-radius: 15px;
    box-shadow: 1px 2px 5px 1px black;
    transition: all .4s ease-in-out;
    cursor: pointer;
}
.whiteboard-container 
.todo-list ul 
.todo-items-row 
.remove-btn-container 
.absolute-remove-btn {

    display: block;
    background: red;
    border: 1px transparent;
    min-width: .5rem;
    transition: all .4s ease-out;
    cursor: pointer;

}
.whiteboard-container 
.todo-list ul 
.todo-items-row 
.remove-btn-container:hover{
    .absolute-remove-btn {
        min-width: 1rem;
    }
    box-shadow: 1px 2px 5px lightseagreen;
    border: 2px solid lightseagreen;
    max-width: 2rem;
}
